body {
    background-color: rgb(48, 68, 79);
    color: #f8edeb;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.header {
    font-family: 'Playfair Display', serif;
    margin: -8px;
    margin-bottom: 10px;
    padding: 40px;
    background-image: url(header.png);
    background-size: 100% 200%;
}

h1 {
    font-size: 80px;
    letter-spacing: 5px;
    margin: 10px;
}

h2 {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0px;
    padding-bottom: 25px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

h4 {
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.5px;
}

img {
    height: 300px;
    width: auto;
    margin: 20px;
    border: 5px solid #f8edeb;
    border-radius: 10px;
}

#divider {
    font-size: 30px;

}

.blogposts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #f8edeb;
    padding: 10px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    bottom: 20px;
    right: 50px;

}

.first {
    background-color: #46646f;
    padding: 20px 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    flex-basis: 0%;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.second {
    background-color: #617e89;
    padding: 20px 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    flex-basis: 0%;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.third {
    background-color: #5a7384;
    padding: 20px 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    flex-basis: 0%;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}