body {
    background-color: #add8e6;
    color: #303C6C;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 50px;
}

#info {
    font-size: 20px;
}

#title {
    color: #303C6C;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    margin-top: 10px;
}

img {
width: 25%;
height: auto;
}

#seals {
    width: 25%;
    height: auto;
}

#readmore {
    font-size: 25px;
}

.first {
    background-color: antiquewhite;
    padding: 20px 50px;

}

.second {
    background-color: antiquewhite;
    padding: 20px 50px;
}
