body {
    background-color: #f8edeb;
    color: #835C3B;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.header {
    font-family: 'Playfair Display', serif;
    margin: -8px;
    margin-bottom: 10px;
    padding: 30px;
    background-image: url(https://marketplace.canva.com/EAEthkBVLfQ/1/0/1600w/canva-blush-wave-desktop-wallpaper-drvq3zaYl2E.jpg);
    background-size: 100% 200%;
    position: relative;
}

h1 {
    font-size: 80px;
    letter-spacing: 5px;
    margin: 10px;
}

h2 {
    font-size: 30px;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0px;
    padding-bottom: 25px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    letter-spacing: 0.5px;
}

h4 {
    font-style: italic;
    letter-spacing: 0.5px;
}

img {
    width: 300px;
    height: auto;
    margin: 25px;
    border-radius: 10px;
}

.blogposts {
    display: flex;
    flex-wrap: wrap;
}

#link {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #f8edeb;
    margin: 25px;
    padding: 5px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    bottom: 20px;
    right: 30px;

}

.first {
    background-color: #fcd5ce;
    padding: 20px 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin: 20px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
}

.second {
    background-color: #fae1dd;
    padding: 20px 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin: 20px;
    border-radius: 10px;
    position: relative;
}

.third {
    background-color: #f8dcc4;
    padding: 20px 50px;
    padding-bottom: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin: 20px;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
}